.headerContent {
  width: 100%;
  margin: 0 auto;
  padding: 0 5px;
  max-width: 1140px;
}

@media screen and (max-width: 992px) {
  .headerContent {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .headerContent {
    width: 100%;
    padding: 0px 10px;
  }
}