.productTags {
  &-Button {
    span {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      font-family: 'Asap', sans-serif;
      color: #888888;
      transition: all 0.1 ease;
      margin: 0;
    }

    &:hover {
      span {
        color: #1890ff;
        border-color: #1890ff;
      }
    }
  }
}
