.titleSection {
  padding-top: 40px;

  &-Divider,
  .ant-divider-horizontal.ant-divider-with-text-left {
    margin-left: 0;
    margin-bottom: 0;

    span {
      font-size: 35px;
      font-weight: 700;
      font-family: 'Asap', sans-serif;
      line-height: 1.2;
      padding: 0 1%;
      // width: 20%;
    }

    &::before {
      width: 9%;
    }
    &::after {
      width: 69%;
    }
  }
  .ant-divider-horizontal.ant-divider-with-text-center {
    margin-bottom: 0;
  }

  &-Description {
    padding-left: 10%;
    font-size: 17px;
    font-weight: 300;
    font-family: 'Asap', sans-serif;
    line-height: 26px;

    &-center {
      text-align: center;
      padding: 0;
    }
  }
}

@media screen and (max-width: 992px) {
  .titleSection {
    &-Divider,
    .ant-divider-horizontal.ant-divider-with-text {
      &::before {
        width: 34%;
      }
      &::after {
        width: 34%;
      }
    }
    &-Description {
      padding-left: 0;
      text-align: center;
    }
  }
}

@media screen and (max-width: 786px) {
  .titleSection {
    &-Divider,
    .ant-divider-horizontal.ant-divider-with-text {
      &::before {
        width: 29%;
      }
      &::after {
        width: 29%;
      }
    }
  }
}

@media screen and (max-width: 786px) {
  .titleSection {
    &-Divider,
    .ant-divider-horizontal.ant-divider-with-text {
      &::before {
        width: 9%;
      }
      &::after {
        width: 9%;
      }
    }
  }
}
