.sectionMenWomen {
  padding-top: 40px;
  padding-bottom: 40px;

  &-Description {
    padding-left: 10%;
    font-size: 17px;
    font-weight: 300;
    font-family: 'Asap', sans-serif;
    line-height: 26px;
  }
}
