.dealOfDay {
  font-family: "Asap", sans-serif;
  &-Image {
    width: 90%;
    // // padding-top: 10%;
    // padding-right: 10%;
    // padding-bottom: 10%;
  }
}

@media screen and(max-width: 992px) {
  .dealOfDay {
    &-Image {
      padding: 10%;
      width: 100%;
    }
  }
}
